/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/layouts/default/default.scss ***!
  \*************************************************************************************************************************************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Regular.woff) format("woff"), url(assets/fonts/Lato/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Medium.woff) format("woff"), url(assets/fonts/Lato/Lato-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-SemiBold.woff) format("woff"), url(assets/fonts/Lato/Lato-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Bold.woff) format("woff"), url(assets/fonts/Lato/Lato-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
.site-wrapper {
  max-width: 1920px;
  font-family: "Lato";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

.content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1280px) {
  .content-wrapper {
    max-width: 1240px;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 0;
    max-width: 758px;
  }
}
@media (max-width: 360px) {
  .content-wrapper {
    max-width: 350px;
    width: 350px;
  }
}

/*
// Logo ============================================
.logo {
  font-family: Ribeye;
  font-weight: 400;
  font-size: 1.333em;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-decoration: none;
}

// Buttons =========================================

.btn {
  box-sizing: border-box;
  padding: 0 5px;
  background-color: #c9453b;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.889em;
  color: #ffffff;
}

.link-btn {
  text-decoration: none;
}
*/
h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 46px;
    line-height: 65px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 26px;
    line-height: 150%;
  }
}

h2 {
  font-family: Lato;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 24px;
    line-height: 150%;
  }
}

h5 {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 1280px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  h5 {
    font-size: 18px;
  }
}

.section-text_regular {
  font-family: Lato;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_regular {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .section-text_regular {
    font-size: 18px;
  }
}

.section-text_second {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_second {
    font-size: 16px;
    line-height: 160%;
  }
}

.pink-text {
  color: #cf51ce;
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/blocks/header/header.scss ***!
  \**********************************************************************************************************************************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Regular.woff) format("woff"), url(assets/fonts/Lato/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Medium.woff) format("woff"), url(assets/fonts/Lato/Lato-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-SemiBold.woff) format("woff"), url(assets/fonts/Lato/Lato-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Bold.woff) format("woff"), url(assets/fonts/Lato/Lato-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
.site-wrapper {
  max-width: 1920px;
  font-family: "Lato";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

.content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1280px) {
  .content-wrapper {
    max-width: 1240px;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 0;
    max-width: 758px;
  }
}
@media (max-width: 360px) {
  .content-wrapper {
    max-width: 350px;
    width: 350px;
  }
}

/*
// Logo ============================================
.logo {
  font-family: Ribeye;
  font-weight: 400;
  font-size: 1.333em;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-decoration: none;
}

// Buttons =========================================

.btn {
  box-sizing: border-box;
  padding: 0 5px;
  background-color: #c9453b;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.889em;
  color: #ffffff;
}

.link-btn {
  text-decoration: none;
}
*/
h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 46px;
    line-height: 65px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 26px;
    line-height: 150%;
  }
}

h2 {
  font-family: Lato;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 24px;
    line-height: 150%;
  }
}

h5 {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 1280px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  h5 {
    font-size: 18px;
  }
}

.section-text_regular {
  font-family: Lato;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_regular {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .section-text_regular {
    font-size: 18px;
  }
}

.section-text_second {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_second {
    font-size: 16px;
    line-height: 160%;
  }
}

.pink-text {
  color: #cf51ce;
}

.header {
  height: 150px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__phone {
  margin-right: 90px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331a2f;
}
@media (max-width: 1280px) {
  .header__phone {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
.header__phone::before {
  content: url(assets/img/icons/carbon_phone-filled.svg);
  line-height: 35px;
  margin-top: 4px;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  width: 169px;
  height: 45px;
  background-color: #cf51ce;
  border-radius: 12px;
  font-family: Lato;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__button {
    width: 103.21px;
    height: 36px;
    font-size: 14px;
    line-height: 28px;
    gap: 8px;
  }
}
.header__button::before {
  content: url(assets/img/icons/arrow_right.svg);
  margin-top: -6px;
  width: 23px;
  height: 23px;
}
@media (max-width: 768px) {
  .header__button::before {
    margin-top: -14px;
    width: 13px;
    height: 13px;
  }
}
@media (max-width: 768px) {
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 360px) {
  .header__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__link {
  margin-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 360px) {
  .logo__link {
    margin-left: 45.61px;
  }
}
.logo__link::before {
  content: url(assets/img/mask.svg);
  position: absolute;
  width: 60.42px;
  height: 30.61px;
  top: -35px;
  left: -65px;
}
@media (max-width: 1280px) {
  .logo__link::before {
    width: 47px;
    height: 22.1px;
  }
}
@media (max-width: 360px) {
  .logo__link::before {
    width: 35.1px;
    height: 17.74px;
    left: -50px;
  }
}
.logo__img {
  width: 162.66px;
  height: 38.51px;
}
@media (max-width: 1280px) {
  .logo__img {
    width: 126.4px;
    height: 29.92px;
  }
}
@media (max-width: 360px) {
  .logo__img {
    width: 94.49px;
    height: 22.37px;
  }
}
.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  max-width: 232px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 1280px) {
  .logo__text {
    max-width: 175.53px;
    gap: 19.43;
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 360px) {
  .logo__text {
    display: none;
  }
}
.logo__text::before {
  content: " ";
  width: 3px;
  height: 62px;
  background-color: rgba(51, 26, 47, 0.5);
  margin-left: 19px;
}
@media (max-width: 1280px) {
  .logo__text::before {
    margin-left: 14.77px;
  }
}

.header-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  gap: 50px;
}
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
}
.header-menu__link {
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-decoration: none;
  color: #331a2f;
}
@media (max-width: 1280px) {
  .header-menu__link {
    font-size: 18px;
  }
}
.header-menu__link:nth-child(1)::after {
  content: url(assets/img/icons/arrow_down.svg);
  margin-left: 11.45px;
}

.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .burger-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42px;
            flex: 0 0 42px;
    background-color: transparent;
    border: none;
    width: 42px;
    height: 28px;
    cursor: pointer;
    z-index: 5;
  }
  .burger-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(45% - 1px);
    left: 0px;
    position: absolute;
    width: 42px;
    height: 4px;
    background-color: #cf51ce;
  }
  .burger-menu span:first-child {
    top: 0px;
  }
  .burger-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 32px;
    left: 10px;
  }
  .burger-menu_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger-menu_active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(45% - 1px);
  }
  .burger-menu_active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(45% - 1px);
    left: 0;
    width: 42px;
  }
}
