/*!********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles.scss ***!
  \********************************************************************************************************************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Regular.woff) format("woff"), url(assets/fonts/Lato/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Medium.woff) format("woff"), url(assets/fonts/Lato/Lato-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-SemiBold.woff) format("woff"), url(assets/fonts/Lato/Lato-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-display: swap;
  src: local("Lato"), url(assets/fonts/Lato/Lato-Bold.woff) format("woff"), url(assets/fonts/Lato/Lato-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
.site-wrapper {
  max-width: 1920px;
  font-family: "Lato";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

.content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1280px) {
  .content-wrapper {
    max-width: 1240px;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 0;
    max-width: 758px;
  }
}
@media (max-width: 360px) {
  .content-wrapper {
    max-width: 350px;
    width: 350px;
  }
}

/*
// Logo ============================================
.logo {
  font-family: Ribeye;
  font-weight: 400;
  font-size: 1.333em;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-decoration: none;
}

// Buttons =========================================

.btn {
  box-sizing: border-box;
  padding: 0 5px;
  background-color: #c9453b;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.889em;
  color: #ffffff;
}

.link-btn {
  text-decoration: none;
}
*/
h1 {
  font-family: Lato;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 46px;
    line-height: 65px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 26px;
    line-height: 150%;
  }
}

h2 {
  font-family: Lato;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 24px;
    line-height: 150%;
  }
}

h5 {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 1280px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  h5 {
    font-size: 18px;
  }
}

.section-text_regular {
  font-family: Lato;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_regular {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .section-text_regular {
    font-size: 18px;
  }
}

.section-text_second {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 26, 47, 0.8);
}
@media (max-width: 1280px) {
  .section-text_second {
    font-size: 16px;
    line-height: 160%;
  }
}

.pink-text {
  color: #cf51ce;
}

.main {
  position: relative;
  width: 100%;
}
.main::before {
  display: none;
  position: absolute;
  content: " ";
  width: 740px;
  height: 740px;
  border-radius: 50%;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.2) 0.87%, rgba(221, 81, 212, 0.2) 112.89%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 165px;
  left: 1700px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .main::before {
    display: none;
  }
}
.main::after {
  display: none;
  position: absolute;
  content: " ";
  width: 740px;
  height: 740px;
  border-radius: 50%;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.8) 0.87%, rgba(221, 81, 212, 0.8) 112.89%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 155px;
  left: 1725px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .main::after {
    display: none;
  }
}
.main__title {
  margin-top: 15px;
  max-width: 868px;
}
@media (max-width: 1280px) {
  .main__title {
    max-width: 688px;
  }
}
@media (max-width: 1280px) {
  .main__title {
    max-width: 738px;
  }
}
@media (max-width: 360px) {
  .main__title {
    max-width: 202px;
    margin-top: 44px;
  }
}
.main__content {
  max-width: 868px;
}
@media (max-width: 1280px) {
  .main__content {
    max-width: 711px;
  }
}
@media (max-width: 768px) {
  .main__content {
    max-width: 482px;
  }
}
.main__text-content {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 1280px) {
  .main__text-content {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .main__text-content {
    margin-top: 17px;
  }
}
@media (max-width: 360px) {
  .main__text-content {
    margin-top: 16px;
    gap: 10px;
  }
}

.breadcrumb-list {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 360px) {
  .breadcrumb-list {
    margin-top: 15px;
  }
}
.breadcrumb-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-list__item:not(:first-child)::before {
  content: " ";
  height: 1px;
  width: 10px;
  margin-top: 4px;
  background-color: rgba(51, 26, 47, 0.5);
}
.breadcrumb-list__item:last-child {
  pointer-events: none;
}
.breadcrumb-list__link {
  text-decoration: none;
}
.breadcrumb-list__text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: rgba(51, 26, 47, 0.8);
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  gap: 25px;
  margin-top: 22px;
}
@media (max-width: 1280px) {
  .price {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .price {
    margin-top: 18px;
  }
}
@media (max-width: 360px) {
  .price {
    margin-top: 24px;
  }
}
.price__icon {
  width: 48px;
  height: 48px;
}
.price__text {
  font-family: Lato;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: rgba(51, 26, 47, 0.8);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price__text_pink {
  font-weight: 600;
  font-size: 35px;
  line-height: 29.32px;
  text-transform: uppercase;
}

.decoration {
  position: absolute;
  width: 100%;
  height: 890px;
  overflow: hidden;
}
.decoration__image_superman {
  position: absolute;
  top: 215px;
  left: 1135px;
  width: 560px;
  height: 560px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .decoration__image_superman {
    width: 435.35px;
    height: 435.35px;
    left: 760px;
  }
}
@media (max-width: 768px) {
  .decoration__image_superman {
    width: 410px;
    height: 410px;
    left: 500px;
    top: 355px;
  }
}
@media (max-width: 360px) {
  .decoration__image_superman {
    width: 245px;
    height: 245px;
    left: 215px;
    top: 180px;
  }
}
.decoration__image_stars {
  position: absolute;
  width: 620px;
  height: 563.26px;
  top: 260px;
  left: 1110px;
}
@media (max-width: 1280px) {
  .decoration__image_stars {
    width: 458px;
    height: 416.08px;
    left: 760px;
  }
}
@media (max-width: 768px) {
  .decoration__image_stars {
    display: none;
  }
}

.story {
  margin-top: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 115px;
}
@media (max-width: 1280px) {
  .story {
    margin-top: 77px;
    padding: 0 102px;
  }
}
@media (max-width: 768px) {
  .story {
    margin-top: 65px;
    gap: 80px;
    padding: 0 15px;
  }
}
@media (max-width: 360px) {
  .story {
    margin-top: 85px;
    gap: 50px;
  }
}
.story__title {
  max-width: 844px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
@media (max-width: 1280px) {
  .story__title {
    max-width: 652px;
  }
}
@media (max-width: 768px) {
  .story__title {
    max-width: 626px;
  }
}
@media (max-width: 360px) {
  .story__title {
    max-width: 332px;
  }
}
.story__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .story__content {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .story__content {
    gap: 40px;
  }
}
.story__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 82px;
}
.story__block:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 360px) {
  .story__block:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 360px) {
  .story__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.story__image_first {
  width: 456px;
  height: 469px;
}
@media (max-width: 1280px) {
  .story__image_first {
    width: 350.66px;
    height: 344.8px;
  }
}
@media (max-width: 768px) {
  .story__image_first {
    width: 270px;
    height: 277.7px;
  }
}
.story__image_second {
  width: 474px;
  height: 474px;
}
@media (max-width: 1280px) {
  .story__image_second {
    width: 358px;
    height: 358px;
  }
}
@media (max-width: 768px) {
  .story__image_second {
    width: 270px;
    height: 270px;
  }
}
.story__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 360px) {
  .story__text-content {
    gap: 10px;
  }
}
.story__text {
  max-width: 750px;
}

.teach {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1280px) {
  .teach {
    margin-top: 166px;
  }
}
@media (max-width: 768px) {
  .teach {
    margin-top: 120px;
  }
}
@media (max-width: 360px) {
  .teach {
    margin-top: 100px;
  }
}
.teach__title {
  max-width: 679px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  position: relative;
}
@media (max-width: 360px) {
  .teach__title {
    max-width: 300px;
  }
}
.teach__title::after {
  content: " ";
  height: 7px;
  width: 261px;
  background: linear-gradient(264.91deg, #7c4eab 0.73%, #dd51d4 95.85%);
  border-radius: 5px;
  position: absolute;
  top: 125px;
  left: 420px;
}
@media (max-width: 1280px) {
  .teach__title::after {
    width: 218px;
    left: 405px;
  }
}
@media (max-width: 700px) {
  .teach__title::after {
    display: none;
  }
}
@media (max-width: 360px) {
  .teach__title::after {
    display: block;
    width: 131px;
    top: 110px;
    left: 85px;
  }
}
.teach__subtitle {
  max-width: 846px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-top: 23px;
}
@media (max-width: 1280px) {
  .teach__subtitle {
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .teach__subtitle {
    margin-top: 22px;
  }
}
@media (max-width: 360px) {
  .teach__subtitle {
    margin-top: 21px;
  }
}

.teach-list {
  margin-top: 85px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .teach-list {
    margin-top: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 360px) {
  .teach-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }
}
.teach-list__icon-box {
  width: 70px;
  height: 70px;
  background-color: #cf51ce;
  -webkit-box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
          box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.teach-list__icon {
  width: 48px;
  height: 48px;
}
.teach-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
}
@media (max-width: 1280px) {
  .teach-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 226px;
            flex: 0 0 226px;
  }
}
@media (max-width: 768px) {
  .teach-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 255px;
            flex: 0 0 255px;
  }
}
@media (max-width: 360px) {
  .teach-list__item {
    max-width: 260px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.teach-list__title {
  margin-top: 30px;
}
@media (max-width: 1280px) {
  .teach-list__title {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  .teach-list__title {
    text-align: center;
  }
}
.teach-list__text {
  margin-top: 15px;
}
@media (max-width: 1280px) {
  .teach-list__text {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .teach-list__text {
    text-align: center;
  }
}
