header.header
  .header__body.content-wrapper 
    .header__logo-container.logo
      a.logo__link(href="#") 
        img.logo__img(src="./assets/img/stat4market.svg" alt="Logo")
      p.logo__text Надежный сервис аналитики для поставщиков на маркетплейсы 
    nav.header__menu.header-menu 
      a.header-menu__link(href="#") Аналитика
      a.header-menu__link(href="#") Обучение
    a.header__phone(href="tel:+7-499-450-31-41")  8 (499) 450-31-41
    .header__buttons
      button.header__button Войти
      button.burger-menu(type="button")
        span 
        span 
        span